<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="./styles.css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔮 The {{ ring_name }} 🧙</title>
  </head>
  <body>
    <header>
      <h1><a name="top"></a>🔮 The {{ ring_name }} 🧙</h1>
	  <p>{{ ring_description }}</p>
    </header>
    <main>
      <p>Currently, the {{ ring_name }} counts {{ number_of_sites }} sorcerers and shamans.</p>
      <p>Some of this circle's spellslingers have channeled their magic into RSS feeds; they are aggregated here: <a href ="{{ opml }}">[feed]</a></p>
      <p>For more information, see the 'About' section at the bottom of this page or click the following link: <a href="#more-info">[more info]</a></p>
      <main>
        <h2>Members</h2>
        <ol class="cards">
          {% for site in sites %}
          <li class="card">
            <!-- {{ loop.index }} -->
            <header class="card__header{% if site.website.name == featured_site_name %}--featured{% endif %}">
              <h2>{{ site.website.name }}{% if site.website.name == featured_site_name %} ✨{% endif %}</h2>
            </header>
            <section class="card__links">
            <a href="{{ site.website.url }}">{{ site.website.url }}</a>
              {% if site.website.rss %}
                • <a href="{{ site.website.rss }}">[feed]</a>
              {% endif %}
            </section>
            <section class="card__content">
              <p class="card__about">{{ site.website.about }}</p>
              <p class="card__owner">
                <strong>Owner:</strong> {{ site.website.owner }}
              </p>
              <p class="card__meta">
                <strong>Slug:</strong> <code class="slug">{{ site.website.slug }}</code>
              </p>
            </section>
          </li>
          {% endfor %}
        </ol>
      </main>
      <section>
        <h2><a name="more-info"></a> About</h2>
        <h3>FAQ</h3>
        <details>
          <summary>What are the rules?</summary>
          <p>
            <ul>
            <li>Join if you like magic!</li>
            <li>Put the webring links on your site.</li>
            <li>No bigotry/hate speech.</li>
            </ul>
          </p>
        </details>
        <details>
          <summary>How do I join?</summary>
          <p>
            <ol>
            <li>Add the links to your page.</li>
            <li><em>Either</em> make a pull request adding your website to websites.json <em>or</em> contact me directly about joining.</li>
            <li>That's it! If your request is approved, you will be added right away.</li>
            </ol>
          </p>
        </details>
        <details>
          <summary>How do I leave?</summary>
          <p>
            You can contact me to leave the webring and I'll remove you right away. You can also just take the webring links off your website, although it may take longer to be reflected on the homepage.
          </p>
        </details>
        <h3>Colophon</h3>
        <p>This site was conjured by <a href="https://github.com/k3rs3d/ringfairy">ringfairy 🧚</a>.</p>
        <h3>Feed</h3>
        <p>As mentioned above, all the RSS feeds in the circle are aggregated here: <a href ="{{ opml }}">[feed]</a></p>
      </section>
    </main>
	<footer>
      <p>
        <a href="https://spellcircle.neocities.org/Spellcircle/previous">&larr;</a>
        🔮 <a href="https://spellcircle.neocities.org">Spellcircle</a> 🧙
        <a href="https://spellcircle.neocities.org/Spellcircle/next">&rarr;</a>
      </p>
	  <p>Last updated: {{ current_time }}</p>
	  <p><a href="#top">Back to top</a></p>
	</footer>
  </body>
</html>
